#mode = "Interactive"
mode = "Headless"

[metadata]
name = "Sample Routes"
author = "Zeeger"
version = "0.1"

# normal notation
#[[routes]]
#name = "tcp-udp-normal"
#buffer_size = 32768
#flow_mode = "bidirectional"
#enabled = true
#[routes.in_point]
#uri = "tcp://192.168.8.158:3001"
#kind = "Server"
#[routes.out_point]
#uri = "udp://192.168.8.255:3000"
#kind = "Broadcast"

# inline table notation
[[routes]]
name = "first"
in_point = { uri = "udp://192.168.8.158:3001" }
out_point = { uri = "udp://192.168.8.255:3000", kind = "Broadcast" }
#out_point = { uri = "udp://192.168.8.255:3000" }
buffer_size = 32768
flow_mode = "bidirectional"
enabled = false

[[routes]]
name = "second"
in_point = { uri = "udp://192.168.8.158:3005", kind = "Unicast" }
out_point = { uri = "tcp://192.168.8.158:3006" }
buffer_size = 32768
flow_mode = "unidirectional"
enabled = true

[[routes]]
name = "third"
in_point = { uri = "udp://192.168.8.158:3001", kind = "Unicast" }
out_point = { uri = "tcp://192.168.8.200:3000" }
enabled = false